<!DOCTYPE html>
<html lang="__{locale}">
	<head>
		<meta charset="__{locale}">
		<meta http-equiv="content-Type" content="text/html; charset=UTF-8" />
		<meta http-equiv="content-Language" content="__{locale}" />
		<meta name="language" content="__{locale}" />
		<meta name="description" content="__{index-meta-description}" />
		<meta name="keywords" content="__{index-meta-keywords}" />
		<meta name="robots" content="all" />
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
		<title>__{index-meta-title}</title>
		<link rel="canonical" href="__{canonicalUrl}" />
	</head>
	<body>
        <h1>__{welcome-title}</h1>
	</body>
</html>